#turno
{
	text-align: center; 
	font-family: 'gotham-bold'; 
	color: #1968a8; 
	font-size: 60pt;
	position: fixed;
	left:20px;
}
#mostrar_turno
{
	text-align: center; 
	font-family: 'gotham-bold'; 
	color: #f27407; 
	font-size: 70pt;
	position: fixed;
	/*top: 280px;*/
	left: 400px;
}
#caja
{
	text-align: center; 
	font-family: 'gotham-bold'; 
	color: #1968a8; 
	font-size: 60pt;
	position: fixed;
	left: 650px;
}
#asunto
{
	text-align: left; 
	font-family: 'gotham-bold'; 
	color: #1968a8; 
	font-size: 60pt;
	/*position: fixed;
	left: 40px;
	top: 420px;*/
}

#mostrar_caja
{
	text-align: center; 
	font-family: 'gotham-bold'; 
	color: #f27407; 
	font-size: 70pt;
	position: fixed;
	left: 1210px;
}
body 
{
	overflow:hidden;
}